
body {
    background-color: blanchedalmond;
}

.container {
    display: flex;
    justify-content: center;
}

td, tr, table {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .2);
}

tbody td, th{
    width: 50px;
    height: 50px;

}
tbody tr:nth-child(odd) td:nth-child(odd) {
    background-color: #000;
}

tbody tr:nth-child(even) td:nth-child(even) {
    background-color: #000;
}

thead td {
    height: 15px;
    background-color: green;
}

tfoot td {
    height: 15px;
    background-color: green;
}

tbody th:first-of-type {
    background-color: green;
    width: 15px;
}

tbody th:last-of-type {
    background-color: green;
    width: 15px;
}


table {
    background-color: #fff;
    margin: 20px auto;
    transition: transform 2s;
}

table:hover {
    transform: rotate(180deg);
}
